$background-color: #f2f2f2;

//main colors

$main-color: #f17a97;

// Typography

$main-title-typography: "Pattaya", sans-serif;
$main-navigation-typography: "KoHo", sans-serif;
$secondary-title-typography: "Open Sans", sans-serif;
$paragraph-typograph: "Noto Sans JP", sans-serif;
$secondary-paragraph-typography: "Barlow", sans-serif;
